*{box-sizing: border-box;}
html{
  scroll-behavior: smooth;
}
.right{
  position: absolute;
  right: 5px;
}

@media screen and (max-width: 550px) {
  .projectcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
